<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.eventwarning.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.eventwarning.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WordCloudServlet</servlet-name>
    <servlet-class>com.eventwarning.servlet.WordCloudServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>com.eventwarning.servlet.EventServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EchartsServlet</servlet-name>
    <servlet-class>com.eventwarning.servlet.EchartsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetEventServlet</servlet-name>
    <servlet-class>com.eventwarning.servlet.GetEventServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HotMapServlet</servlet-name>
    <servlet-class>com.eventwarning.servlet.HotMapServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetKeyWordServlet</servlet-name>
    <servlet-class>com.eventwarning.servlet.GetKeyWordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCategoryServlet</servlet-name>
    <servlet-class>com.eventwarning.servlet.GetCategoryServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WordCloudServlet</servlet-name>
    <url-pattern>/WordCloudServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/EventServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EchartsServlet</servlet-name>
    <url-pattern>/EchartsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEventServlet</servlet-name>
    <url-pattern>/GetEventServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotMapServlet</servlet-name>
    <url-pattern>/HotMapServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetKeyWordServlet</servlet-name>
    <url-pattern>/GetKeyWordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCategoryServlet</servlet-name>
    <url-pattern>/GetCategoryServlet</url-pattern>
  </servlet-mapping>
  
    <jsp-config>
  	<taglib>
        <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
        <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
        <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
        <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
        <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
  </jsp-config>
  	
  <welcome-file-list>
    <welcome-file>IndexServlet</welcome-file>
  </welcome-file-list>
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.jsp</location>
  </error-page>
</web-app>
